@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

html {
    font-size: calc(16/475*100vw);
}

body {
    color: #6a86a2;
    background-image: url(img/background.png);
    background-repeat: repeat;
    margin: 0px;
    font-family: 'Shippori Mincho B1', serif, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    padding-top: 10vw;
}

.logo {
    align-items: center;
    margin: 0px;
    height: 30vw;
}

.logo img {
    height: 100%;
    object-fit: cover;
}

.menu-btn {
    position: fixed;
    top: 10vw;
    right: 1vw;
    display: flex;
    height: 10vw;
    width: 10vw;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.menu-btn span {
    content: '';
    display: block;
    height: 0.5vw;
    width: 6vw;
    border-radius: 0.5vw;
    background-color: #000000;
    transition: 0.5s;
    position: absolute;
}

.menu-btn span:nth-of-type(1) {
    top: 2vw;
}

.menu-btn span:nth-of-type(2) {
    top: 4vw;
}

.menu-btn span:nth-of-type(3) {
    top: 6vw;
}

.menu-btn span:nth-of-type(3)::after {
    content: "Menu";
    /*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top: 1vw;
    left: -0.4vw;
    color: #000000;
    font-size: 0.6rem;
    text-transform: uppercase;
}

#menu-btn-check:checked~.menu-btn span:nth-of-type(1) {
    top: 3.05vw;
    left: 4.3vw;
    transform: translateY(1.2vw) rotate(-45deg);
    width: 30%;
}

#menu-btn-check:checked~.menu-btn span:nth-of-type(2) {
    background-color: #ffffff00;
}

#menu-btn-check:checked~.menu-btn span:nth-of-type(3) {
    top: 5.8vw;
    left: 4.3vw;
    transform: translateY(-1.2vw) rotate(45deg);
    width: 30%;
}

#menu-btn-check:checked~.menu-btn span:nth-of-type(3)::after {
    content: "Close";
    /*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
    top: 1vw;
    left: 0.8vw;
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #dddddd;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    transition: all 0.5s ease-in-out;
    /*アニメーション設定*/
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #222;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
    left: 100%;
    transition: all 0.5s ease-in-out;
}

#menu-btn-check:checked~.menu-content {
    left: 0;
    /*メニューを画面内へ*/
}

/*上部の画像*/
#head-img {
    display: flex;
}

#head-img img {
    width: 50%;
    object-fit: cover;
}

#mikuji-banner {
    padding: 2% 5% 5% 5%;
    background-image: url(img/mikuji_banner_background.png);
    background-size: cover;
    margin-top: 30px;
}

#mikuji-banner img {
    width: 100%;
}

/*scroll-text*/
#scroll-text {
    text-align: center;
    margin-bottom: 90px;
}

/*information*/
#information {
    background-color: #ffffff;
}

#information h1 {
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

#information hr {
    border: none;
    height: 2px;
    background-color: #6a86a2;
    margin: 0px;
}

.info {
    padding: 25px 10px 25px 10px;
    display: flex;
}

.info img {
    width: 30vw;
    margin-right: 10px;
    object-fit: cover;
}

.white-line {
    border: none;
    height: 8px;
    background-color: #ffffff;
}

/*あらすじ*/
#arasuji {
    background-color: #fff6ec;
    padding: 5px 20px 20px 20px;
    border-top: #7ca1b2 solid 2px;
    border-bottom: #7ca1b2 solid 2px;
    margin-top: 50px;
    background-image:
        radial-gradient(ellipse closest-side, #ffffff00 50%, #ffa20012),
        url(img/arasuji_background.png);
    background-size: contain;
    color: #7ca1b2;
}

#arasuji-img {
    width: 100vw;
}

#arasuji h1 {
    text-align: center;
}

#arasuji strong {
    font-weight: lighter;
}

.pink {
    color: #fe7ca7;
}

.blue {
    color: #4d9dc4;
}

.orange {
    color: #fe994e;
}

.yellow {
    color: #fec243;
}

.lightblue {
    color: #00c8de;
}

#kasa {
    width: 100%;
    background: radial-gradient(#7391a7, #ffffff00 50%);
    background-size: contain;
}

/*おみくじ*/
#koizono-mikuji img {
    position: absolute;
    margin-top: 3%;
    left: 15%;
    width: 70%;
    object-fit: cover;
    z-index: 10;
    pointer-events: none;
}

#koizono-mikuji input {
    width: 100vw;
}

.blue-line {
    border: none;
    height: 6px;
    background-color: #99ced6;
    margin-top: 4px;
    margin-bottom: 4px;
}

/*以下、ポップアップ用のCSS*/
.open {
    cursor: pointer;
}

#pop-up {
    display: none;
}

.overlay {
    display: none;
}

#pop-up:checked+.overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #00000099;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    max-width: 360px;
    padding: 20px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    align-items: center;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

#footer {
    margin-top: 70px;
    background-color: #ffffff;
    text-align: center;
    font-size: small;
    margin-bottom: 0px;
    padding-top: 20px;
}

#access {
    padding-top: 50px;
    padding-bottom: 30px;
}